{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 13,
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        }
    },
    "extends": [
        "plugin:vue/vue3-essential",
        "eslint:recommended",
        "@vue/eslint-config-typescript/recommended",
        "@vue/eslint-config-prettier",
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": ["off"],
        "prettier/prettier": 0,
    },
}